:root {
    --dkmagenta: hsl(300, 43%, 22%);
    --dkgrmagenta: hsl(303, 10%, 53%);
    --lightgrmagenta:  hsl(300, 24%, 96%);
    --softpink: rgb(238, 104, 164);
    --white: hsl(0, 0%, 100%);
    --Font-size: 15px;
    --fontfam:'League Spartan', sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
  margin: 0;
  padding:0;
  font-family: var(--sans);
  background-color: var(--white);
  font-size: var(--Font-size);
  font-family: var(--fontfam);
}

.wrapper{
    margin: 1.7rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
h1, h3, h4, p{
  margin: 0 ;
}
section-1{
    text-align: center;
}
.about h1{
    color:var(--dkmagenta);
    font-size: 2.2rem;
    padding: 1rem;
}
.about p{
    color: var(--dkgrmagenta);
    line-height: 1.2;
    font-weight: 500;
}
.rate{
    display: flex;
    flex-flow: column nowrap;
    font-weight: 700;
    background-color: var(--lightgrmagenta);
    color: var(--dkmagenta);
    margin: 20px;
    padding: 15px 0;
    border-radius: 4px;
}
.fa-star{
    color: goldenrod;
    font-size: 15px;
    padding-bottom: 15px;
}
h3{
    color: var(--white);
    padding-bottom: 5px;
}
h4{
    color: var(--softpink);
}
.card{
    background-color: var(--dkmagenta);
    margin: 1rem;
    padding: 20px;
    border-radius: 5px;
}
.card p-1, p-2{
    color: var(--white);
    font-size: 15px;
    font-weight: normal;
}
.card p-1{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 1.3rem 0;
}
.card img{
    flex-basis: 20%;
    border-radius: 50%;
    max-width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.card span{
    flex-basis: 70%;
    padding-left: 1rem;
}
.card p-2{
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 25px;
}
.attribution{
    text-align: center;
    margin-top: 1.5rem;
}

@media screen and (min-width:1024px) {
    body{
        background-color: var(--lightgrmagenta);
        padding: 4rem 0;
    }   
    .wrapper{
        background-color: var(--white);
        width: 90%;
        margin: auto;
        padding: 3rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    section-1{
        display: flex;
        flex-flow: row nowrap;
        text-align: left;
        margin-bottom: 2rem;
    }
    .about{
        flex-basis: 40%;
        margin-right: 1.5rem;
    }
    .about h1{
        font-size: 2.5rem;
        font-weight: bold;
        padding-bottom: 1rem;
    }
    .about p{
        margin-top: 1rem;
        padding-left: 1rem;
        line-height: 1.5;
    }
    .rates{
        margin-left: 2rem;
        flex-basis: 60%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    .first{
        grid-column: 2/9;
    }
    .second{
        grid-column: 3/10;
    }
    .third{
        grid-column: 4/11;
    }
    .rate{
        display: flex;
        flex-direction: row;
        padding: 20px;
        min-width: max-content;
        align-items: center;
        margin-bottom: 0;
    }
    .fa-star{
        padding: 0;
    }
    .rate p{
        padding-left: 15px;
    }
    section-2{
        display: grid;
        grid-template-rows: repeat(15, 1fr);
        padding: 0;
        margin-top: 2rem;
    }
    .card{
        border-radius: 8px;
    }
    .one{
        grid-row: 1/14;
    }
    .two{
        grid-row: 2/15;
    }
    .three{
        grid-row: 3/16;
    }
    .card{
        margin: 0 10px;
    }
}